<header>
  <div class="top-bar">
    <a>Suscríbete y logra un cupón de descuento del 20%</a>
  </div>
  <nav class="main-nav">
    <div class="logo">Habla Food ?</div>
    <input type="search" placeholder="Buscar..." />
    <div class="user-section">
      <span><a>Puntos</a></span>
      <span>Hola, Julio</span>
    </div>
  </nav>
  <div class="barmenu">
    <a href="#">Categorias</a>
    <a href="#">Mejores Comentarios</a>
    <a href="#">De 5 a 4 estrellas</a>
    <a href="#">Registra pe!</a>
    <a href="#">Registrate!</a>
  </div>
</header>
