<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locales TOP</title>
    <link rel="stylesheet" href="../assets/css/toplocales.css" />
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script defer src="../assets/js/include.js"></script>
  </head>
  <body>
    <div id="header-placeholder"></div>
    <section class="contenedor_top">
      <h1>Locales TOP</h1>
      <div class="grid-locales" id="locales-container"></div>
    </section>

    <script src="../assets/js/toplocales.js"></script>


    <div id="footer-placeholder"></div>
  </body>
</html>
